/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}



/* Image principale */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: 670px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}

/* Comparaison */
.comparison {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.comparison-box {
    width: 45%;
    text-align: center;
}

.comparison-box img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
